@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 70fr 190fr 150fr 150fr 80fr 60fr 60fr 60fr 130fr 70fr 30fr;
  grid-template-rows: 90px;
  align-items: center; }

.header__button {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff; }

.header__contacts {
  font-family: monreg;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0; }

.header__element {
  grid-column-start: 2;
  grid-column-end: 4; }
  .header__element1 {
    grid-column-start: 4;
    grid-column-end: 5; }
  .header__element2 {
    grid-column-start: 5;
    grid-column-end: 6; }
  .header__element3 {
    grid-column-start: 9;
    grid-column-end: 10; }
  .header__element4 {
    grid-column-start: 10;
    grid-column-end: 11; }
  .header__element5 {
    grid-column-start: 11;
    grid-column-end: 12; }
  .header__element6 {
    grid-column-start: 12;
    grid-column-end: 14; }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.footer {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
  grid-template-rows: 280px;
  background-color: #fff; }

.footer__altano {
  grid-area: 1 / 2 / 2 / 4;
  width: 165px;
  height: 50px;
  margin-top: 40px; }

.wellc {
  background-image: url(../img/about_back.jpg);
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover; }
  .wellc div {
    width: 545px;
    padding: 250px 0 0 100px;
    color: #fff; }
    .wellc div h3 {
      font-family: monlight;
      font-size: 52px;
      color: #fff;
      margin: 0;
      margin-bottom: 35px; }
    .wellc div p {
      font-family: monreg;
      font-size: 18px;
      margin: 0;
      line-height: 30px; }

.prof {
  background-color: #f8f7f7;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px; }
  .prof .wellc__white__rect {
    background-color: #fff;
    position: absolute;
    top: 185px;
    right: 30px;
    bottom: 180px;
    left: 30px; }
  .prof .wellc_box1 {
    position: relative;
    z-index: 2;
    width: 50%;
    min-width: 630px;
    height: 500px; }
  .prof .wellc_box2 {
    position: relative;
    z-index: 2;
    width: 50%;
    min-width: 630px;
    height: 500px; }
    .prof .wellc_box2 h3 {
      margin: 0 0 35px 75px;
      font-family: monlight;
      font-size: 52px; }
    .prof .wellc_box2 p {
      font-family: monreg;
      font-size: 16px;
      line-height: 30px;
      margin: 0 150px 0 75px; }
  .prof .wellc_box3 {
    position: relative;
    z-index: 2;
    width: 50%;
    min-width: 630px;
    height: 500px; }
    .prof .wellc_box3 h3 {
      margin: 80px 120px 30px 100px;
      font-family: monlight;
      font-size: 52px; }
    .prof .wellc_box3 p {
      font-family: monreg;
      font-size: 16px;
      line-height: 30px;
      margin: 0 155px 0 100px; }
  .prof .wellc_box4 {
    position: relative;
    z-index: 2;
    width: 50%;
    min-width: 630px;
    height: 500px; }

.about {
  padding-top: 0;
  padding-bottom: 100px; }

.team {
  background-color: #f8f7f7; }
  .team .partners {
    margin-top: 0;
    position: relative;
    z-index: 2; }
    .team .partners h3 {
      position: relative;
      z-index: 2; }
    .team .partners .partners__white {
      background-color: #fff;
      position: absolute;
      top: -70px;
      left: 0;
      bottom: -220px;
      right: 300px;
      z-index: 0; }
  .team .partners__circle {
    position: relative;
    z-index: 2;
    padding-bottom: 150px; }
  .team h4 {
    font-family: monlight;
    font-size: 52px;
    margin: 0;
    padding-left: 100px; }
  .team .team__flex {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 160px; }
    .team .team__flex h5 {
      font-family: monlight;
      font-size: 18px;
      margin: 40px 0 25px 0; }
    .team .team__flex p {
      font-family: monlight;
      font-size: 14px; }
