@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 70fr 190fr 150fr 150fr 80fr 60fr 60fr 60fr 130fr 70fr 30fr;
  grid-template-rows: 90px;
  align-items: center; }

.header__button {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff; }

.header__contacts {
  font-family: monreg;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0; }

.header__element {
  grid-column-start: 2;
  grid-column-end: 4; }
  .header__element1 {
    grid-column-start: 4;
    grid-column-end: 5; }
  .header__element2 {
    grid-column-start: 5;
    grid-column-end: 6; }
  .header__element3 {
    grid-column-start: 9;
    grid-column-end: 10; }
  .header__element4 {
    grid-column-start: 10;
    grid-column-end: 11; }
  .header__element5 {
    grid-column-start: 11;
    grid-column-end: 12; }
  .header__element6 {
    grid-column-start: 12;
    grid-column-end: 14; }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.footer {
  background-color: #fff;
  display: flex;
  position: relative; }
  .footer .footer__left {
    display: inline-block; }
  .footer .footer__altano {
    width: 132px;
    height: 32px;
    margin: 50px 50px 0 30px; }
  .footer .footer__rights {
    margin: 145px 0 0 30px;
    padding-bottom: 50px;
    font-family: monlight;
    font-size: 10px; }
  .footer .footer__flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 580px;
    margin-top: 50px; }
    .footer .footer__flex ul {
      margin: 0;
      padding: 0;
      margin-left: 70px; }
      .footer .footer__flex ul li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px; }
        .footer .footer__flex ul li a {
          text-transform: uppercase;
          font-family: monsemibold;
          font-size: 10px;
          color: #7d7d7d; }
  .footer .footer__right {
    margin-top: 50px;
    margin-left: 100px; }
    .footer .footer__right p {
      font-family: monlight;
      font-size: 14px;
      margin: 0;
      margin-bottom: 30px; }
    .footer .footer__right .footer__input {
      font-family: monlight;
      font-size: 10px;
      border: none;
      border-bottom: 1px solid black;
      width: 270px; }
    .footer .footer__right .footer__submit {
      background-color: #fff;
      color: #000;
      font-family: monsemibold;
      font-size: 10px;
      border: none; }
  .footer .footer__logos {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    bottom: 50px; }
    .footer .footer__logos img {
      width: 17px;
      height: 17px; }
    .footer .footer__logos .footer__opex {
      width: 50px;
      height: 20px; }
    .footer .footer__logos a {
      text-decoration: none; }
    .footer .footer__logos span {
      font-family: monlight;
      font-size: 9px;
      position: relative;
      bottom: 15px;
      right: 3px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 10px 30px; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    position: relative; }
    ul li a {
      font-family: monmed;
      font-size: 12px;
      color: #8f8f8f;
      margin: 0;
      padding: 0;
      text-transform: uppercase; }

h4 {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

.this {
  color: #000; }

.this::after {
  content: url(../img/ractangle_black.png);
  width: 6px;
  height: 6px;
  position: absolute;
  right: 0px;
  top: 30%; }

.bread {
  grid-area: 1 / 2 / 2 / 5; }
  .bread ul {
    padding: 0; }
    .bread ul li {
      display: inline; }
      .bread ul li a {
        padding: 0;
        margin: 0;
        font-family: monreg;
        font-size: 12px;
        text-decoration: none;
        color: #bbbaba;
        background-color: #f8f7f7;
        text-transform: none; }
        .bread ul li a img {
          padding-bottom: 3px;
          padding-left: 10px;
          padding-right: 10px; }

.catalog__header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
  grid-template-rows: 25px 100px;
  background-color: #f8f7f7; }
  .catalog__header h3 {
    grid-area: 2 / 3 / 3 / 5;
    font-size: 52px;
    margin: 0;
    align-self: start; }
  .catalog__header a {
    font-family: monbold;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding: 16px 30px;
    background-color: #fff;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    align-self: start; }

.catalog {
  background-color: #f8f7f7;
  display: grid;
  grid-template-columns: 240fr 1010fr;
  grid-gap: 30px; }
  .catalog .catalog__sort__bread p {
    display: inline-block;
    margin: 0;
    font-family: monbold;
    font-size: 12px;
    color: #000; }
  .catalog .catalog__sort__bread span::after {
    content: url(../img/cancel_button.png);
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 3px; }
  .catalog .catalog__sort__bread a {
    text-decoration: none;
    color: #a5a4a4;
    text-transform: uppercase;
    font-family: monsemibold;
    font-size: 10px; }
  .catalog .sort__bread__p {
    font-family: monbold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #000 !important; }
  .catalog .catalog__sort__so {
    text-transform: uppercase; }
  .catalog .catalog__choose {
    background-color: #ffffff;
    margin-bottom: 30px; }
    .catalog .catalog__choose h4 {
      padding: 30px;
      border-bottom: 1px solid #e5e5e5; }
    .catalog .catalog__choose form h5 {
      padding-top: 20px;
      padding-bottom: 15px;
      margin: 0;
      font-family: monmed;
      font-size: 12px; }
    .catalog .catalog__choose form input[type=range] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%; }
    .catalog .catalog__choose form input[type=range]:focus {
      outline: none; }
    .catalog .catalog__choose form input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #000000;
      border-radius: 0px;
      border: 0px solid #000000; }
    .catalog .catalog__choose form input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 1px #000000;
      border: 1px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 14px;
      background: #FFFFFF;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7.5px; }
    .catalog .catalog__choose form input[type=range]:focus::-webkit-slider-runnable-track {
      background: #000000; }
    .catalog .catalog__choose form input[type=range]::-moz-range-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #000000;
      border-radius: 0px;
      border: 0px solid #000000; }
    .catalog .catalog__choose form input[type=range]::-moz-range-thumb {
      box-shadow: 0px 0px 1px #000000;
      border: 1px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 14px;
      background: #FFFFFF;
      cursor: pointer; }
    .catalog .catalog__choose form input[type=range]::-ms-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .catalog .catalog__choose form input[type=range]::-ms-fill-lower {
      background: #000000;
      border: 0px solid #000000;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000; }
    .catalog .catalog__choose form input[type=range]::-ms-fill-upper {
      background: #000000;
      border: 0px solid #000000;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000; }
    .catalog .catalog__choose form input[type=range]::-ms-thumb {
      box-shadow: 0px 0px 1px #000000;
      border: 1px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 14px;
      background: #FFFFFF;
      cursor: pointer; }
    .catalog .catalog__choose form input[type=range]:focus::-ms-fill-lower {
      background: #000000; }
    .catalog .catalog__choose form input[type=range]:focus::-ms-fill-upper {
      background: #000000; }
  .catalog .catalog__sort {
    margin: 0;
    padding: 0;
    margin-left: auto;
    display: grid;
    grid-template-columns: 70% 30%; }
    .catalog .catalog__sort p {
      grid-column-start: 2;
      text-align: right;
      margin: 0;
      margin-right: 30px;
      font-family: monsemibold;
      font-size: 10px;
      color: #8b8b8b;
      margin-bottom: 35px; }
      .catalog .catalog__sort p img {
        padding-left: 10px; }
      .catalog .catalog__sort p a {
        padding-left: 15px;
        font-family: monsemibold;
        font-size: 10px;
        color: black;
        text-decoration: none; }
  .catalog .catalog__group {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .catalog .catalog__group .catalog__group__box {
      width: 310px;
      height: 445px;
      background-color: #fff;
      position: relative;
      margin-bottom: 30px; }
      .catalog .catalog__group .catalog__group__box .box__discount {
        position: absolute;
        top: 20px;
        left: 20px;
        font-family: monreg;
        font-size: 16px;
        padding: 14px;
        color: #fff;
        background-color: #fe3000; }
      .catalog .catalog__group .catalog__group__box img {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 40px; }
      .catalog .catalog__group .catalog__group__box .box__naming {
        margin: 0;
        padding: 0;
        font-family: monlight;
        font-size: 24px;
        margin-left: 35px;
        margin-bottom: 15px; }
      .catalog .catalog__group .catalog__group__box .box__availability {
        margin: 0;
        padding: 0;
        font-family: monlight;
        font-size: 12px;
        margin-left: 35px; }
      .catalog .catalog__group .catalog__group__box .box__price {
        position: absolute;
        bottom: 100px;
        left: 35px;
        font-family: monlight;
        font-size: 16px; }
      .catalog .catalog__group .catalog__group__box .box__discount__price {
        position: absolute;
        bottom: 105px;
        right: 35px;
        font-family: monlight;
        font-size: 12px;
        text-decoration: line-through;
        text-decoration-color: #a0a0a0; }
      .catalog .catalog__group .catalog__group__box .box__discount__percent {
        position: absolute;
        bottom: 130px;
        right: 35px;
        font-family: monlight;
        font-size: 12px; }
      .catalog .catalog__group .catalog__group__box a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: monsemibold;
        font-size: 12px;
        color: #fff;
        background-color: #000;
        padding: 15px 80px;
        position: absolute;
        left: 35px;
        bottom: 30px; }
  .catalog .page__counter {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 70px; }
    .catalog .page__counter img {
      padding: 15px; }

.about {
  padding-bottom: 100px; }

.header {
  background-color: #f8f7f7; }
  .header .header__button {
    background-color: #000;
    color: #fff; }
  .header .header__contacts {
    color: #000; }
