@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 70fr 190fr 150fr 150fr 80fr 60fr 60fr 60fr 130fr 70fr 30fr;
  grid-template-rows: 90px;
  align-items: center; }

.header__button {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff; }

.header__contacts {
  font-family: monreg;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0; }

.header__element {
  grid-column-start: 2;
  grid-column-end: 4; }
  .header__element1 {
    grid-column-start: 4;
    grid-column-end: 5; }
  .header__element2 {
    grid-column-start: 5;
    grid-column-end: 6; }
  .header__element3 {
    grid-column-start: 9;
    grid-column-end: 10; }
  .header__element4 {
    grid-column-start: 10;
    grid-column-end: 11; }
  .header__element5 {
    grid-column-start: 11;
    grid-column-end: 12; }
  .header__element6 {
    grid-column-start: 12;
    grid-column-end: 14; }

@media (min-width: 767px) and (max-width: 1278px) {
  .header {
    display: grid;
    grid-template-columns: 30fr 140fr 25fr 30fr 25fr 115fr 45fr 25fr 25fr 25fr 25fr 35fr 25fr 165fr 33fr;
    grid-template-rows: 80px;
    align-items: center; }
  .header__button {
    font-family: monsemibold;
    font-size: 10px;
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #fff;
    text-align: center; }
  .header__contacts {
    font-family: monreg;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    margin: 0; }
  .header__element {
    grid-column-start: 2;
    grid-column-end: 3; }
    .header__element1 {
      grid-column-start: 4;
      grid-column-end: 5; }
    .header__element2 {
      grid-column-start: 6;
      grid-column-end: 7; }
    .header__element3 {
      grid-column-start: 8;
      grid-column-end: 9; }
    .header__element4 {
      grid-column-start: 10;
      grid-column-end: 11; }
    .header__element5 {
      grid-column-start: 12;
      grid-column-end: 13; }
    .header__element6 {
      grid-column-start: 14;
      grid-column-end: 15; } }

@media (min-width: 320px) and (max-width: 767px) {
  .header__element6 {
    display: none; }
  .header__element2 {
    display: none; }
  .header__element1 {
    display: none; }
  .header {
    grid-template-columns: 30fr 70fr 100fr 70fr 190fr 51fr 0fr 100fr 100fr 100fr 100fr 40fr 0fr 0fr; } }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.footer {
  background-color: #fff;
  display: flex;
  position: relative; }
  .footer .footer__left {
    display: inline-block; }
  .footer .footer__altano {
    width: 132px;
    height: 32px;
    margin: 50px 50px 0 30px; }
  .footer .footer__rights {
    margin: 145px 0 0 30px;
    padding-bottom: 50px;
    font-family: monlight;
    font-size: 10px; }
  .footer .footer__flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 580px;
    margin-top: 50px; }
    .footer .footer__flex ul {
      margin: 0;
      padding: 0;
      margin-left: 70px; }
      .footer .footer__flex ul li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px; }
        .footer .footer__flex ul li a {
          text-transform: uppercase;
          font-family: monsemibold;
          font-size: 10px;
          color: #7d7d7d; }
  .footer .footer__right {
    margin-top: 50px;
    margin-left: 100px; }
    .footer .footer__right p {
      font-family: monlight;
      font-size: 14px;
      margin: 0;
      margin-bottom: 30px; }
    .footer .footer__right .footer__input {
      font-family: monlight;
      font-size: 10px;
      border: none;
      border-bottom: 1px solid black;
      width: 270px; }
    .footer .footer__right .footer__submit {
      background-color: #fff;
      color: #000;
      font-family: monsemibold;
      font-size: 10px;
      border: none; }
  .footer .footer__logos {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    bottom: 50px; }
    .footer .footer__logos img {
      width: 17px;
      height: 17px; }
    .footer .footer__logos .footer__opex {
      width: 50px;
      height: 20px; }
    .footer .footer__logos a {
      text-decoration: none; }
    .footer .footer__logos span {
      font-family: monlight;
      font-size: 9px;
      position: relative;
      bottom: 15px;
      right: 3px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

@media (min-width: 767px) and (max-width: 1278px) {
  .footer {
    background-color: #fff;
    display: flex;
    position: relative;
    height: 460px; }
    .footer .footer__left {
      display: inline-block; }
    .footer .footer__altano {
      width: 132px;
      height: 32px;
      margin: 50px 50px 0 30px; }
    .footer .footer__rights {
      margin: 300px 0 0 30px;
      padding-bottom: 50px;
      font-family: monlight;
      font-size: 10px; }
    .footer .footer__flex {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 580px;
      margin-top: 50px; }
      .footer .footer__flex ul {
        margin: 0;
        padding: 0;
        margin-left: 30px;
        margin-right: 20px; }
        .footer .footer__flex ul li {
          margin: 0;
          padding: 0;
          margin-bottom: 10px;
          width: 135px; }
          .footer .footer__flex ul li a {
            text-transform: uppercase;
            font-family: monsemibold;
            font-size: 10px;
            color: #7d7d7d; }
    .footer .footer__right {
      position: absolute;
      width: 540px;
      top: 240px;
      left: 143px; }
      .footer .footer__right p {
        font-family: monlight;
        font-size: 14px;
        margin: 0;
        margin-bottom: 30px; }
      .footer .footer__right .footer__input {
        font-family: monlight;
        font-size: 10px;
        border: none;
        border-bottom: 1px solid black;
        width: 407px; }
      .footer .footer__right .footer__submit {
        background-color: #fff;
        color: #000;
        font-family: monsemibold;
        font-size: 10px;
        border: none; }
    .footer .footer__logos {
      width: 270px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 50px;
      bottom: 50px; }
      .footer .footer__logos img {
        width: 17px;
        height: 17px; }
      .footer .footer__logos .footer__opex {
        width: 50px;
        height: 20px; }
      .footer .footer__logos a {
        text-decoration: none; }
      .footer .footer__logos span {
        font-family: monlight;
        font-size: 9px;
        position: relative;
        bottom: 15px;
        right: 3px; }
  a {
    text-decoration: none; }
  li {
    list-style: none; } }

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    background-color: #fff;
    display: block;
    position: relative;
    height: 700px; }
  .footer .footer__left {
    display: inline-block; }
  .footer .footer__altano {
    width: 110px;
    height: 25px;
    margin: 40px 0 0 15px; }
  .footer .footer__rights {
    margin: 570px 0 0 15px;
    /* padding-bottom: 50px; */
    font-family: monlight;
    font-size: 10px; }
  .footer .footer__flex {
    display: block;
    width: 280px;
    position: relative;
    top: -661px; }
  .footer .footer__flex ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    /* width: 67px; */ }
  .flex__ul2 {
    position: relative;
    top: -205px;
    left: 165px; }
  .flex__ul3 {
    position: relative;
    top: -175px; }
  .footer .footer__right {
    position: relative;
    top: -827px;
    left: 20px; }
  .footer .footer__right p {
    font-family: monlight;
    font-size: 14px;
    margin: 0;
    margin-bottom: 7px; }
  .footer .footer__right .footer__input {
    font-family: monlight;
    font-size: 10px;
    border: none;
    border-bottom: 1px solid black;
    width: 208px; }
  .footer .footer__right .footer__submit {
    background-color: #fff;
    color: #000;
    font-family: monsemibold;
    font-size: 12px;
    display: inline-block;
    border: none; }
  .footer .footer__logos {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 31px;
    bottom: 85px; }
  .footer .footer__right {
    margin-left: 0px;
    margin-top: 0; } }

body {
  margin: 0px;
  background-color: #282828; }

h3 {
  color: #0a0a0a;
  font-family: monlight;
  font-size: 30px; }

li {
  color: #0a0a0a;
  font-family: monreg;
  font-size: 16px;
  list-style: none; }
  li a {
    text-decoration: none;
    color: #0a0a0a; }

ul {
  margin: 0;
  padding: 10px 30px; }
  ul li {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    position: relative; }
    ul li a {
      font-family: monmed;
      font-size: 12px;
      color: #8f8f8f;
      margin: 0;
      padding: 0;
      text-transform: uppercase; }

h4 {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
  text-transform: uppercase; }

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }

.catalog__header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
  grid-template-rows: 160px;
  background-color: #f8f7f7; }
  .catalog__header .catalog__header h3 {
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 52px; }
  .catalog__header a {
    font-family: monbold;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding: 16px 30px;
    background-color: #fff;
    grid-column-start: 8;
    grid-column-end: 10;
    align-self: center; }

.catalog__header h3 {
  grid-column-start: 3;
  grid-column-end: 6;
  font-size: 52px; }

.show__catalog__320 {
  display: none; }

@media (min-width: 767px) and (max-width: 1278px) {
  body {
    margin: 0px;
    background-color: #f8f7f7; }
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding: 0; }
  .catalog__header {
    display: grid;
    grid-template-columns: 30fr 490fr 177fr 30fr;
    grid-template-rows: 160px;
    background-color: #f8f7f7; }
    .catalog__header .catalog__header h3 {
      grid-column-start: 3;
      grid-column-end: 6;
      font-size: 52px; }
    .catalog__header a {
      font-family: monbold;
      font-size: 12px;
      color: #000;
      text-decoration: none;
      padding: 16px 30px;
      background-color: #fff;
      grid-column-start: 3;
      grid-column-end: 4;
      align-self: center; }
  .catalog__header h3 {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 52px; }
  .show__catalog__320 {
    display: none; } }

.this {
  color: #000; }

.this::after {
  content: url(../img/ractangle_black.png);
  width: 6px;
  height: 6px;
  position: absolute;
  right: 0px;
  top: 30%; }

.catalog {
  background-color: #f8f7f7;
  display: grid;
  grid-template-columns: 240fr 1010fr;
  grid-gap: 30px; }
  .catalog .catalog__choose {
    background-color: #ffffff;
    margin-bottom: 30px; }
    .catalog .catalog__choose h4 {
      padding: 30px;
      border-bottom: 1px solid #e5e5e5; }
    .catalog .catalog__choose form h5 {
      padding-top: 20px;
      padding-bottom: 15px;
      margin: 0;
      font-family: monmed;
      font-size: 12px; }
    .catalog .catalog__choose form input[type=range] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%; }
    .catalog .catalog__choose form input[type=range]:focus {
      outline: none; }
    .catalog .catalog__choose form input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #000000;
      border-radius: 0px;
      border: 0px solid #000000; }
    .catalog .catalog__choose form input[type=range]::-webkit-slider-thumb {
      box-shadow: 0px 0px 1px #000000;
      border: 1px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 14px;
      background: #FFFFFF;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7.5px; }
    .catalog .catalog__choose form input[type=range]:focus::-webkit-slider-runnable-track {
      background: #000000; }
    .catalog .catalog__choose form input[type=range]::-moz-range-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #000000;
      border-radius: 0px;
      border: 0px solid #000000; }
    .catalog .catalog__choose form input[type=range]::-moz-range-thumb {
      box-shadow: 0px 0px 1px #000000;
      border: 1px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 14px;
      background: #FFFFFF;
      cursor: pointer; }
    .catalog .catalog__choose form input[type=range]::-ms-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent; }
    .catalog .catalog__choose form input[type=range]::-ms-fill-lower {
      background: #000000;
      border: 0px solid #000000;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000; }
    .catalog .catalog__choose form input[type=range]::-ms-fill-upper {
      background: #000000;
      border: 0px solid #000000;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000; }
    .catalog .catalog__choose form input[type=range]::-ms-thumb {
      box-shadow: 0px 0px 1px #000000;
      border: 1px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 14px;
      background: #FFFFFF;
      cursor: pointer; }
    .catalog .catalog__choose form input[type=range]:focus::-ms-fill-lower {
      background: #000000; }
    .catalog .catalog__choose form input[type=range]:focus::-ms-fill-upper {
      background: #000000; }
  .catalog .catalog__sort {
    margin: 0;
    padding: 0;
    margin-left: auto; }
    .catalog .catalog__sort p {
      text-align: right;
      margin: 0;
      margin-right: 30px;
      font-family: monsemibold;
      font-size: 10px;
      color: #8b8b8b;
      margin-bottom: 35px; }
      .catalog .catalog__sort p img {
        padding-left: 10px; }
      .catalog .catalog__sort p a {
        padding-left: 15px;
        font-family: monsemibold;
        font-size: 10px;
        color: black;
        text-decoration: none; }
  .catalog .catalog__group {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .catalog .catalog__group .catalog__group__box {
      width: 310px;
      height: 445px;
      background-color: #fff;
      position: relative;
      margin-bottom: 30px; }
      .catalog .catalog__group .catalog__group__box img {
        display: block;
        width: 310px;
        height: 210px;
        margin: 0 auto; }
      .catalog .catalog__group .catalog__group__box .box__naming {
        margin: 0;
        padding: 0;
        font-family: monlight;
        font-size: 24px;
        margin-left: 35px;
        margin-bottom: 15px; }
      .catalog .catalog__group .catalog__group__box .box__availability {
        margin: 0;
        padding: 0;
        font-family: monlight;
        font-size: 12px;
        margin-left: 35px; }
      .catalog .catalog__group .catalog__group__box .box__price {
        position: absolute;
        bottom: 100px;
        left: 35px;
        font-family: monlight;
        font-size: 16px; }
      .catalog .catalog__group .catalog__group__box a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: monsemibold;
        font-size: 12px;
        color: #fff;
        background-color: #000;
        padding: 15px 80px;
        position: absolute;
        left: 35px;
        bottom: 30px; }
  .catalog .page__counter {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 70px; }
    .catalog .page__counter img {
      padding: 15px; }

.catalogue {
  background-color: #f8f7f7;
  position: relative; }
  .catalogue .catalogue__white {
    background-color: #ffffff;
    width: 90%;
    height: 730px;
    position: absolute;
    top: 180px;
    left: 5%; }

.show__filters__768 {
  display: none; }

@media (min-width: 767px) and (max-width: 1278px) {
  .catalog {
    background-color: #f8f7f7;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px; }
    .catalog .catalog__choose {
      background-color: #ffffff;
      margin-bottom: 30px; }
      .catalog .catalog__choose h4 {
        padding: 30px;
        border-bottom: 1px solid #e5e5e5; }
      .catalog .catalog__choose form h5 {
        padding-top: 20px;
        padding-bottom: 15px;
        margin: 0;
        font-family: monmed;
        font-size: 12px; }
      .catalog .catalog__choose form input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%; }
      .catalog .catalog__choose form input[type=range]:focus {
        outline: none; }
      .catalog .catalog__choose form input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #000000;
        border-radius: 0px;
        border: 0px solid #000000; }
      .catalog .catalog__choose form input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 1px #000000;
        border: 1px solid #000000;
        height: 15px;
        width: 15px;
        border-radius: 14px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7.5px; }
      .catalog .catalog__choose form input[type=range]:focus::-webkit-slider-runnable-track {
        background: #000000; }
      .catalog .catalog__choose form input[type=range]::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #000000;
        border-radius: 0px;
        border: 0px solid #000000; }
      .catalog .catalog__choose form input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 1px #000000;
        border: 1px solid #000000;
        height: 15px;
        width: 15px;
        border-radius: 14px;
        background: #FFFFFF;
        cursor: pointer; }
      .catalog .catalog__choose form input[type=range]::-ms-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent; }
      .catalog .catalog__choose form input[type=range]::-ms-fill-lower {
        background: #000000;
        border: 0px solid #000000;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000; }
      .catalog .catalog__choose form input[type=range]::-ms-fill-upper {
        background: #000000;
        border: 0px solid #000000;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000; }
      .catalog .catalog__choose form input[type=range]::-ms-thumb {
        box-shadow: 0px 0px 1px #000000;
        border: 1px solid #000000;
        height: 15px;
        width: 15px;
        border-radius: 14px;
        background: #FFFFFF;
        cursor: pointer; }
      .catalog .catalog__choose form input[type=range]:focus::-ms-fill-lower {
        background: #000000; }
      .catalog .catalog__choose form input[type=range]:focus::-ms-fill-upper {
        background: #000000; }
    .catalog .aside__none__768 {
      display: none; }
    .catalog .catalog__sort {
      margin: 0;
      padding: 0;
      margin-left: auto;
      position: relative; }
      .catalog .catalog__sort p {
        text-align: right;
        margin: 0;
        margin-right: 30px;
        font-family: monsemibold;
        font-size: 10px;
        color: #8b8b8b;
        margin-bottom: 35px; }
        .catalog .catalog__sort p img {
          padding-left: 10px; }
        .catalog .catalog__sort p a {
          padding-left: 15px;
          font-family: monsemibold;
          font-size: 10px;
          color: black;
          text-decoration: none; }
      .catalog .catalog__sort .show__filters__768 {
        position: absolute;
        display: block;
        left: 0px;
        top: 35px;
        height: 40px;
        width: 205px;
        background-color: #fff; }
        .catalog .catalog__sort .show__filters__768 a {
          font-family: monbold;
          color: #000;
          font-size: 12px;
          text-transform: uppercase;
          display: inline-block;
          padding-left: 30px;
          margin-top: 12px; }
        .catalog .catalog__sort .show__filters__768 img {
          display: inline-block;
          margin-left: 60px; }
    .catalog .catalog__group {
      margin: 0;
      padding: 0;
      margin-right: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .catalog .catalog__group .catalog__group__box {
        width: 310px;
        height: 445px;
        background-color: #fff;
        position: relative;
        margin-bottom: 30px; }
        .catalog .catalog__group .catalog__group__box img {
          display: block;
          width: 310px;
          height: 210px;
          margin: 0 auto; }
        .catalog .catalog__group .catalog__group__box .box__naming {
          margin: 0;
          padding: 0;
          font-family: monlight;
          font-size: 24px;
          margin-left: 35px;
          margin-bottom: 15px; }
        .catalog .catalog__group .catalog__group__box .box__availability {
          margin: 0;
          padding: 0;
          font-family: monlight;
          font-size: 12px;
          margin-left: 35px; }
        .catalog .catalog__group .catalog__group__box .box__price {
          position: absolute;
          bottom: 100px;
          left: 35px;
          font-family: monlight;
          font-size: 16px; }
        .catalog .catalog__group .catalog__group__box a {
          text-decoration: none;
          text-transform: uppercase;
          font-family: monsemibold;
          font-size: 12px;
          color: #fff;
          background-color: #000;
          padding: 15px 80px;
          position: absolute;
          left: 35px;
          bottom: 30px; }
    .catalog .page__counter {
      width: 120px;
      margin: 0 auto;
      margin-bottom: 70px; }
      .catalog .page__counter img {
        padding: 15px; }
  .catalogue {
    background-color: #f8f7f7;
    position: relative; }
    .catalogue .catalogue__white {
      background-color: #ffffff;
      width: 90%;
      height: 730px;
      position: absolute;
      top: 180px;
      left: 5%; } }

.main div h5 {
  font-family: monreg;
  margin: 0;
  font-size: 24px;
  color: #fff;
  padding: 170px 0 0 80px; }

.main div h6 {
  font-family: monreg;
  margin: 0;
  font-size: 12px;
  color: #fff;
  padding: 15px 0 0 80px; }

.main div p {
  font-family: monreg;
  margin: 0;
  font-size: 16px;
  color: #fff;
  padding: 50px 0 30px 80px; }

.main div .main__more {
  margin: 25px 0 0 80px;
  padding: 15px 80px;
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  font-family: monsemibold;
  font-size: 12px;
  text-decoration: none; }

@media (min-width: 767px) and (max-width: 1278px) {
  .main div h5 {
    font-family: monreg;
    margin: 0;
    font-size: 24px;
    color: #fff;
    padding: 170px 0 0 80px; }
  .main div h6 {
    font-family: monreg;
    margin: 0;
    font-size: 12px;
    color: #fff;
    padding: 15px 0 0 80px; }
  .main div p {
    font-family: monreg;
    margin: 0;
    font-size: 16px;
    color: #fff;
    padding: 50px 0 30px 80px; }
  .main div .main__more {
    margin: 25px 0 0 80px;
    padding: 15px 80px;
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
    font-family: monsemibold;
    font-size: 12px;
    text-decoration: none; } }

.terrace {
  margin-right: 30px;
  height: 435px;
  background-image: url(../img/terrace.jpg);
  position: relative;
  margin-bottom: 30px; }

.dinner__table {
  margin-right: 30px;
  height: 435px;
  background-image: url(../img/dinner_table2.jpg);
  position: relative;
  margin-bottom: 30px; }

.lounger {
  margin-right: 30px;
  height: 435px;
  background-image: url(../img/lounger2.jpg);
  position: relative;
  margin-bottom: 30px; }

.relax_zone {
  margin-right: 30px;
  height: 435px;
  background-image: url(../img/relax_zone2.jpg);
  position: relative;
  margin-bottom: 30px; }

.about {
  padding-bottom: 100px; }

.header {
  background-color: #f8f7f7; }
  .header .header__button {
    background-color: #000;
    color: #fff; }
  .header .header__contacts {
    color: #000; }

@media (min-width: 767px) and (max-width: 1278px) {
  .terrace {
    margin-right: 30px;
    height: 435px;
    background-image: url(../img/terrace.jpg);
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px; }
  .dinner__table {
    margin-right: 30px;
    height: 435px;
    background-image: url(../img/dinner_table2.jpg);
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px; }
  .lounger {
    margin-right: 30px;
    height: 435px;
    background-image: url(../img/lounger2.jpg);
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px; }
  .relax_zone {
    margin-right: 30px;
    height: 435px;
    background-image: url(../img/relax_zone2.jpg);
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px; }
  .about {
    padding-bottom: 100px; }
  .header {
    background-color: #f8f7f7; }
    .header .header__button {
      background-color: #000;
      color: #fff; }
    .header .header__contacts {
      color: #000; } }

.chairs {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
  grid-template-rows: 440px;
  overflow: hidden;
  background-image: url(../img/chairs_background.jpg); }
  .chairs .chairs__text {
    grid-area: 1 / 3 / 2 /6;
    align-self: center;
    justify-self: start; }
    .chairs .chairs__text h3 {
      color: #fff;
      font-size: 52px;
      margin: 30px 0; }
    .chairs .chairs__text p {
      color: #fff;
      font-family: monlight;
      font-size: 18px;
      margin: 0; }
  .chairs .chairs__form {
    grid-area: 1 / 6 / 2 /8;
    align-self: center;
    justify-self: start;
    width: 410px;
    height: 230px;
    background-color: #fff; }
    .chairs .chairs__form .form__date {
      width: 60%;
      margin-left: 20%;
      border: none;
      border-bottom: 1px solid black;
      margin-top: 60px; }
    .chairs .chairs__form .calendar__img {
      width: 17px;
      height: 17px;
      position: relative;
      right: 20px;
      z-index: 1; }
    .chairs .chairs__form .form__phone {
      width: 60%;
      margin-left: 20%;
      border: none;
      border-bottom: 1px solid black;
      margin-top: 40px;
      padding-bottom: 5px; }
    .chairs .chairs__form .form__submit {
      margin-top: 35px;
      float: right;
      margin-right: 20%;
      font-family: monbold;
      font-size: 16px;
      background-color: #fff;
      border: none; }

@media (min-width: 767px) and (max-width: 1278px) {
  .chairs {
    display: grid;
    grid-template-columns: 30px 660px 78px;
    grid-template-rows: 635px;
    overflow: hidden;
    background-image: url(../img/chairs_background.jpg);
    background-size: cover;
    background-position: 15%; }
    .chairs .chairs__text {
      grid-area: 1 / 2 / 2 /3;
      align-self: start;
      justify-self: start; }
      .chairs .chairs__text h3 {
        color: #fff;
        font-size: 52px;
        margin: 30px 0; }
      .chairs .chairs__text p {
        color: #fff;
        font-family: monlight;
        font-size: 18px;
        margin: 0; }
    .chairs .chairs__form {
      grid-area: 1 / 2 / 2 /3;
      align-self: end;
      justify-self: start;
      width: 410px;
      height: 230px;
      background-color: #fff;
      position: relative;
      top: -115px; }
      .chairs .chairs__form .form__date {
        width: 60%;
        margin-left: 20%;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 60px; }
      .chairs .chairs__form .calendar__img {
        width: 17px;
        height: 17px;
        position: relative;
        right: 20px;
        z-index: 1; }
      .chairs .chairs__form .form__phone {
        width: 60%;
        margin-left: 20%;
        border: none;
        border-bottom: 1px solid black;
        margin-top: 40px;
        padding-bottom: 5px; }
      .chairs .chairs__form .form__submit {
        margin-top: 35px;
        float: right;
        margin-right: 20%;
        font-family: monbold;
        font-size: 16px;
        background-color: #fff;
        border: none; } }

.about {
  background-color: #f8f7f7;
  padding-top: 100px; }

.about__why {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
  grid-template-rows: 260px 210px 220px;
  background-color: #f8f7f7; }
  .about__why .about__img {
    grid-area: 1 / 1 / 3 /6;
    width: 520px;
    height: 470px; }
  .about__why h3 {
    grid-area: 1 / 6 / 2 /8;
    align-self: center;
    font-size: 52px; }
  .about__why .about__grid {
    grid-area: 2 / 4 / 4 /12;
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 70px 270px 270px 270px 1fr;
    grid-template-rows: 215px 215px; }
    .about__why .about__grid h3 {
      margin: 0;
      margin-bottom: 25px; }
    .about__why .about__grid div {
      width: 230px;
      margin-top: -30px; }
    .about__why .about__grid p {
      font-family: monlight;
      font-size: 16px;
      line-height: 30px; }
    .about__why .about__grid .about__1 {
      grid-area: 1 / 2 / 2 / 3; }
    .about__why .about__grid .about__2 {
      grid-area: 1 / 3 / 2 / 4; }
    .about__why .about__grid .about__3 {
      grid-area: 1 / 4 / 2 / 5; }
    .about__why .about__grid .about__4 {
      grid-area: 2 / 2 / 3 / 3; }
    .about__why .about__grid .about__5 {
      grid-area: 2 / 3 / 3 / 4; }
    .about__why .about__grid .about__6 {
      grid-area: 2 / 4 / 3 / 5; }

@media (min-width: 767px) and (max-width: 1278px) {
  .about {
    background-color: #f8f7f7;
    padding-top: 100px;
    overflow: hidden; }
  .about__why {
    display: grid;
    grid-template-columns: 70px 275px 77px 285px 61px;
    grid-template-rows: 325px 175px 470px;
    background-color: #f8f7f7; }
    .about__why .about__img {
      grid-area: 1 / 1 / 3 /3;
      width: 600px;
      height: 580px;
      transform: translate(-254px, 0px); }
    .about__why h3 {
      grid-area: 1 / 4 / 2 /5;
      align-self: center;
      font-size: 50px;
      margin: 0; }
    .about__why .about__grid {
      grid-area: 2 / 2 / 4 / 6;
      background-color: #fff;
      position: relative;
      display: grid;
      grid-template-columns: 350px 350px;
      grid-template-rows: 210px 210px 210px; }
      .about__why .about__grid h3 {
        margin: 0;
        margin-bottom: 25px; }
      .about__why .about__grid div {
        width: 230px;
        margin-top: -30px; }
      .about__why .about__grid p {
        font-family: monlight;
        font-size: 16px;
        line-height: 30px; }
      .about__why .about__grid .about__1 {
        grid-area: 1 / 1 / 2 / 2;
        margin-left: 40px; }
      .about__why .about__grid .about__2 {
        grid-area: 1 / 2 / 2 / 3;
        margin-left: 40px; }
      .about__why .about__grid .about__3 {
        grid-area: 2 / 1 / 3 / 2;
        margin-left: 40px;
        margin-top: 20px; }
      .about__why .about__grid .about__4 {
        grid-area: 2 / 2 / 3 / 3;
        margin-left: 40px;
        margin-top: 20px; }
      .about__why .about__grid .about__5 {
        grid-area: 3 / 1 / 4 / 2;
        margin-left: 40px;
        margin-top: 20px; }
      .about__why .about__grid .about__6 {
        grid-area: 3 / 2 / 4 / 3;
        margin-left: 40px;
        margin-top: 20px; } }

@media (min-width: 320px) and (max-width: 767px) {
  body {
    margin: 0px;
    background-color: #f8f7f7; }
  .container {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    overflow: hidden; }
  .catalog__sort {
    margin: 0;
    padding: 0;
    margin-left: auto;
    position: relative; }
    .catalog__sort p {
      text-align: right;
      margin: 0;
      margin-right: 30px;
      font-family: monsemibold;
      font-size: 10px;
      color: #8b8b8b;
      margin-bottom: 35px; }
      .catalog__sort p img {
        padding-left: 10px; }
      .catalog__sort p a {
        padding-left: 15px;
        font-family: monsemibold;
        font-size: 10px;
        color: black;
        text-decoration: none; }
    .catalog__sort .show__filters__768 {
      position: absolute;
      display: block;
      left: 0px;
      top: 35px;
      height: 40px;
      width: 205px;
      background-color: #fff; }
      .catalog__sort .show__filters__768 a {
        font-family: monbold;
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 30px;
        margin-top: 12px; }
      .catalog__sort .show__filters__768 img {
        display: inline-block;
        margin-left: 60px; }
  .aside__none__768 {
    display: none; }
  .catalog__header h3 {
    font-size: 30px;
    margin: 0;
    padding: 0 20px 30px 20px; }
  .catalog__header a {
    display: none; }
  .catalog__header {
    display: block; }
  .catalog__sort .show__filters__768 {
    width: 160px;
    top: -11px; }
  .catalog__sort .show__filters__768 a {
    padding-left: 30px;
    margin-top: 18px; }
  .catalog__sort .show__filters__768 img {
    margin-left: 33px; }
  .catalog .catalog__sort p {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px; }
    .catalog .catalog__sort p a {
      padding-left: 100px; }
  .show__catalog__320 {
    display: block;
    position: absolute;
    left: 215px; }
    .show__catalog__320 a {
      font-family: monsemibold;
      font-size: 10px;
      color: grey;
      text-transform: uppercase;
      display: block; }
      .show__catalog__320 a img {
        margin: 0 0 -3px 10px; }
  .catalog {
    display: block; }
  .terrace, .dinner__table, .lounger, .relax_zone {
    margin: 15px 20px;
    height: 315px;
    background-size: cover; }
  .main div p, .main div h6, .main div h5 {
    padding-left: 20px; }
  .main div h5 {
    padding-top: 110px; }
  .main div .main__more {
    margin: 25px 0 0 20px; }
  .chairs {
    display: block;
    background-image: url(../img/chairs_background.jpg); }
  .chairs .chairs__text h3 {
    color: #fff;
    font-size: 30px;
    margin: 20px 20px; }
  .chairs .chairs__text p {
    color: #fff;
    font-family: monlight;
    font-size: 18px;
    margin: 0 20px;
    margin-bottom: 20px; }
  .chairs .chairs__form {
    grid-area: 1 / 6 / 2 /8;
    align-self: center;
    justify-self: start;
    width: 280px;
    height: 190px;
    background-color: #fff;
    margin: 30px 20px; }
  .chairs .chairs__form .form__date {
    width: 60%;
    margin-left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 35px; }
  .chairs .chairs__form .form__submit {
    margin-top: 25px; }
  .about {
    padding-top: 100px; }
  .about__why {
    display: block; }
  .about__why .about__img {
    width: 325px;
    height: 375px; }
  .about__why .about__why__h3 {
    font-size: 30px;
    position: relative;
    bottom: 496px;
    margin-left: 20px; }
  .about__why .about__grid {
    display: block;
    width: 275px;
    margin-left: 51px;
    margin-top: -302px; }
  .about__why .about__grid h3 {
    margin: 0;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-top: -34px; }
  .about__why .about__grid p {
    font-family: monlight;
    font-size: 16px;
    line-height: 30px;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 79px; }
  .catalog .catalog__sort p a {
    padding-left: 88px; } }
