@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 70fr 190fr 150fr 150fr 80fr 60fr 60fr 60fr 130fr 70fr 30fr;
  grid-template-rows: 90px;
  align-items: center; }

.header__button {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff; }

.header__contacts {
  font-family: monreg;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0; }

.header__element {
  grid-column-start: 2;
  grid-column-end: 4; }
  .header__element1 {
    grid-column-start: 4;
    grid-column-end: 5; }
  .header__element2 {
    grid-column-start: 5;
    grid-column-end: 6; }
  .header__element3 {
    grid-column-start: 9;
    grid-column-end: 10; }
  .header__element4 {
    grid-column-start: 10;
    grid-column-end: 11; }
  .header__element5 {
    grid-column-start: 11;
    grid-column-end: 12; }
  .header__element6 {
    grid-column-start: 12;
    grid-column-end: 14; }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.footer {
  background-color: #fff;
  display: flex;
  position: relative; }
  .footer .footer__left {
    display: inline-block; }
  .footer .footer__altano {
    width: 132px;
    height: 32px;
    margin: 50px 50px 0 30px; }
  .footer .footer__rights {
    margin: 145px 0 0 30px;
    padding-bottom: 50px;
    font-family: monlight;
    font-size: 10px; }
  .footer .footer__flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 580px;
    margin-top: 50px; }
    .footer .footer__flex ul {
      margin: 0;
      padding: 0;
      margin-left: 70px; }
      .footer .footer__flex ul li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px; }
        .footer .footer__flex ul li a {
          text-transform: uppercase;
          font-family: monsemibold;
          font-size: 10px;
          color: #7d7d7d; }
  .footer .footer__right {
    margin-top: 50px;
    margin-left: 100px; }
    .footer .footer__right p {
      font-family: monlight;
      font-size: 14px;
      margin: 0;
      margin-bottom: 30px; }
    .footer .footer__right .footer__input {
      font-family: monlight;
      font-size: 10px;
      border: none;
      border-bottom: 1px solid black;
      width: 270px; }
    .footer .footer__right .footer__submit {
      background-color: #fff;
      color: #000;
      font-family: monsemibold;
      font-size: 10px;
      border: none; }
  .footer .footer__logos {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    bottom: 50px; }
    .footer .footer__logos img {
      width: 17px;
      height: 17px; }
    .footer .footer__logos .footer__opex {
      width: 50px;
      height: 20px; }
    .footer .footer__logos a {
      text-decoration: none; }
    .footer .footer__logos span {
      font-family: monlight;
      font-size: 9px;
      position: relative;
      bottom: 15px;
      right: 3px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  margin: 0px;
  background-color: #282828; }

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }

.contacts {
  background-color: #f8f7f7; }
  .contacts h3 {
    margin: 0;
    padding: 50px 100px;
    font-family: monreg;
    font-size: 52px; }
  .contacts .contacts__flex {
    padding: 0 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: start; }
    .contacts .contacts__flex .contacts__city {
      position: relative;
      height: 470px; }
      .contacts .contacts__flex .contacts__city h4 {
        font-family: monlight;
        font-size: 30px;
        line-height: 40px; }
      .contacts .contacts__flex .contacts__city p {
        font-family: monlight;
        font-size: 16px;
        line-height: 30px; }
      .contacts .contacts__flex .contacts__city a {
        text-decoration: none;
        color: #fff;
        background-color: #000;
        font-family: monbold;
        padding: 15px 45px;
        text-transform: uppercase;
        position: absolute;
        bottom: 10px; }

.ask {
  background-image: url(../img/pay_ask_us.jpg);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .ask .ask__q {
    display: inline-block;
    width: 400px; }
    .ask .ask__q h3 {
      color: #fff;
      font-family: monreg;
      font-size: 52px;
      margin: 0; }
    .ask .ask__q p {
      color: #fff;
      font-family: monreg;
      font-size: 18px;
      margin-top: 30px; }
  .ask .ask__form {
    display: inline-block;
    width: 415px;
    height: 350px;
    background-color: #fff;
    margin: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .ask .ask__form input {
      display: block;
      border: none;
      width: 275px;
      border-bottom: 1px solid black;
      margin-top: 35px; }
    .ask .ask__form .ask__submit {
      font-family: monbold;
      font-size: 16px;
      text-align: right;
      background-color: #fff;
      border: none;
      cursor: pointer; }

.header {
  background-color: #f8f7f7; }
  .header .header__button {
    background-color: #000;
    color: #fff; }
  .header .header__contacts {
    color: #000; }
