@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 70fr 190fr 150fr 150fr 80fr 60fr 60fr 60fr 130fr 70fr 30fr;
  grid-template-rows: 90px;
  align-items: center; }

.header__button {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff; }

.header__contacts {
  font-family: monreg;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0; }

.header__element {
  grid-column-start: 2;
  grid-column-end: 4; }
  .header__element1 {
    grid-column-start: 4;
    grid-column-end: 5; }
  .header__element2 {
    grid-column-start: 5;
    grid-column-end: 6; }
  .header__element3 {
    grid-column-start: 9;
    grid-column-end: 10; }
  .header__element4 {
    grid-column-start: 10;
    grid-column-end: 11; }
  .header__element5 {
    grid-column-start: 11;
    grid-column-end: 12; }
  .header__element6 {
    grid-column-start: 12;
    grid-column-end: 14; }

@media (min-width: 767px) and (max-width: 1278px) {
  .header {
    display: grid;
    grid-template-columns: 30fr 140fr 25fr 30fr 25fr 115fr 45fr 25fr 25fr 25fr 25fr 35fr 25fr 165fr 33fr;
    grid-template-rows: 80px;
    align-items: center; }
  .header__button {
    font-family: monsemibold;
    font-size: 10px;
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #fff;
    text-align: center; }
  .header__contacts {
    font-family: monreg;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    margin: 0; }
  .header__element {
    grid-column-start: 2;
    grid-column-end: 3; }
    .header__element1 {
      grid-column-start: 4;
      grid-column-end: 5; }
    .header__element2 {
      grid-column-start: 6;
      grid-column-end: 7; }
    .header__element3 {
      grid-column-start: 8;
      grid-column-end: 9; }
    .header__element4 {
      grid-column-start: 10;
      grid-column-end: 11; }
    .header__element5 {
      grid-column-start: 12;
      grid-column-end: 13; }
    .header__element6 {
      grid-column-start: 14;
      grid-column-end: 15; } }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.footer {
  background-color: #fff;
  display: flex;
  position: relative; }
  .footer .footer__left {
    display: inline-block; }
  .footer .footer__altano {
    width: 132px;
    height: 32px;
    margin: 50px 50px 0 30px; }
  .footer .footer__rights {
    margin: 145px 0 0 30px;
    padding-bottom: 50px;
    font-family: monlight;
    font-size: 10px; }
  .footer .footer__flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 580px;
    margin-top: 50px; }
    .footer .footer__flex ul {
      margin: 0;
      padding: 0;
      margin-left: 70px; }
      .footer .footer__flex ul li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px; }
        .footer .footer__flex ul li a {
          text-transform: uppercase;
          font-family: monsemibold;
          font-size: 10px;
          color: #7d7d7d; }
  .footer .footer__right {
    margin-top: 50px;
    margin-left: 100px; }
    .footer .footer__right p {
      font-family: monlight;
      font-size: 14px;
      margin: 0;
      margin-bottom: 30px; }
    .footer .footer__right .footer__input {
      font-family: monlight;
      font-size: 10px;
      border: none;
      border-bottom: 1px solid black;
      width: 270px; }
    .footer .footer__right .footer__submit {
      background-color: #fff;
      color: #000;
      font-family: monsemibold;
      font-size: 10px;
      border: none; }
  .footer .footer__logos {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    bottom: 50px; }
    .footer .footer__logos img {
      width: 17px;
      height: 17px; }
    .footer .footer__logos .footer__opex {
      width: 50px;
      height: 20px; }
    .footer .footer__logos a {
      text-decoration: none; }
    .footer .footer__logos span {
      font-family: monlight;
      font-size: 9px;
      position: relative;
      bottom: 15px;
      right: 3px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

@media (min-width: 767px) and (max-width: 1278px) {
  .footer {
    background-color: #fff;
    display: flex;
    position: relative;
    height: 460px; }
    .footer .footer__left {
      display: inline-block; }
    .footer .footer__altano {
      width: 132px;
      height: 32px;
      margin: 50px 50px 0 30px; }
    .footer .footer__rights {
      margin: 300px 0 0 30px;
      padding-bottom: 50px;
      font-family: monlight;
      font-size: 10px; }
    .footer .footer__flex {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 580px;
      margin-top: 50px; }
      .footer .footer__flex ul {
        margin: 0;
        padding: 0;
        margin-left: 30px;
        margin-right: 20px; }
        .footer .footer__flex ul li {
          margin: 0;
          padding: 0;
          margin-bottom: 10px;
          width: 135px; }
          .footer .footer__flex ul li a {
            text-transform: uppercase;
            font-family: monsemibold;
            font-size: 10px;
            color: #7d7d7d; }
    .footer .footer__right {
      position: absolute;
      width: 540px;
      top: 240px;
      left: 143px; }
      .footer .footer__right p {
        font-family: monlight;
        font-size: 14px;
        margin: 0;
        margin-bottom: 30px; }
      .footer .footer__right .footer__input {
        font-family: monlight;
        font-size: 10px;
        border: none;
        border-bottom: 1px solid black;
        width: 407px; }
      .footer .footer__right .footer__submit {
        background-color: #fff;
        color: #000;
        font-family: monsemibold;
        font-size: 10px;
        border: none; }
    .footer .footer__logos {
      width: 270px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 50px;
      bottom: 50px; }
      .footer .footer__logos img {
        width: 17px;
        height: 17px; }
      .footer .footer__logos .footer__opex {
        width: 50px;
        height: 20px; }
      .footer .footer__logos a {
        text-decoration: none; }
      .footer .footer__logos span {
        font-family: monlight;
        font-size: 9px;
        position: relative;
        bottom: 15px;
        right: 3px; }
  a {
    text-decoration: none; }
  li {
    list-style: none; } }

body {
  margin: 0px;
  background-color: #282828; }

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }

.header {
  background-color: #f8f7f7; }
  .header .header__button {
    background-color: #000;
    color: #fff; }
  .header .header__contacts {
    color: #000; }

.buy {
  background-color: #f8f7f7;
  padding-bottom: 100px; }
  .buy .arrow_back_with_line {
    margin: 25px 100px; }
    .buy .arrow_back_with_line span {
      font-family: monsemibold;
      font-size: 12px;
      text-transform: uppercase;
      padding-left: 15px;
      color: #000; }
  .buy .buy__naming {
    color: #0a0a0a;
    font-family: monlight;
    font-size: 52px;
    margin: 30px 100px; }
  .buy .buy__wtch {
    display: inline-block;
    margin: 30px 100px;
    font-family: monlight;
    font-size: 18px; }
  .buy .buy__wtch2 {
    margin-left: 575px; }
  .buy .buy__products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 0 100px;
    justify-content: space-between; }
    .buy .buy__products .products__wib {
      width: 810px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid black; }
      .buy .buy__products .products__wib .wib__form1 {
        width: 360px; }
        .buy .buy__products .products__wib .wib__form1 input {
          width: 100%;
          margin-bottom: 50px;
          background-color: #f8f7f7;
          border: none;
          border-bottom: 1px solid black;
          padding-bottom: 10px;
          font-family: monlight;
          font-size: 12px; }
        .buy .buy__products .products__wib .wib__form1 span {
          font-family: monlight;
          font-size: 12px;
          display: block;
          margin-top: -40px; }
        .buy .buy__products .products__wib .wib__form1 p {
          font-family: monlight;
          font-size: 16px; }
        .buy .buy__products .products__wib .wib__form1 img {
          margin-right: 40px; }
      .buy .buy__products .products__wib .wib__form2 {
        width: 360px; }
        .buy .buy__products .products__wib .wib__form2 input {
          width: 100%;
          margin-bottom: 50px;
          background-color: #f8f7f7;
          border: none;
          border-bottom: 1px solid black;
          padding-bottom: 10px;
          font-family: monlight;
          font-size: 12px; }
        .buy .buy__products .products__wib .wib__form2 p {
          font-family: monlight;
          font-size: 16px;
          margin-top: -26px; }
        .buy .buy__products .products__wib .wib__form2 .form2__smallfl {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
        .buy .buy__products .products__wib .wib__form2 .form2__small {
          width: 20%; }
        .buy .buy__products .products__wib .wib__form2 .wib__total {
          font-family: monlight;
          font-size: 16px;
          text-align: right; }
          .buy .buy__products .products__wib .wib__form2 .wib__total span {
            margin-left: 40px; }
    .buy .buy__products .products__form {
      width: 295px;
      margin-top: -10px; }
      .buy .buy__products .products__form form {
        background-color: #fff; }
        .buy .buy__products .products__form form p {
          padding-top: 35px;
          padding-left: 30px;
          font-family: monlight;
          font-size: 16px; }
        .buy .buy__products .products__form form input {
          margin-left: 30px;
          margin-right: 12px;
          display: inline-block;
          padding-bottom: 18px;
          color: white; }
        .buy .buy__products .products__form form span {
          width: 210px;
          display: inline-block;
          font-family: monreg;
          font-size: 12px;
          line-height: 18px;
          padding-bottom: 20px; }
        .buy .buy__products .products__form form .form__p {
          padding-top: 0; }
        .buy .buy__products .products__form form .form__email {
          margin: 0;
          padding: 0;
          width: 80%;
          margin-left: 30px;
          border: none;
          border-bottom: 1px solid black;
          font-family: monreg;
          font-size: 12px;
          margin-bottom: 20px; }
        .buy .buy__products .products__form form a {
          background-color: #000;
          color: #fff;
          font-family: monsemibold;
          font-size: 16px;
          padding: 19px 30px;
          margin: 0 35px;
          margin-bottom: 15px;
          text-transform: uppercase;
          display: inline-block; }

@media (min-width: 767px) and (max-width: 1278px) {
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding: 0; }
  .buy .arrow_back_with_line {
    margin: 25px 30px; }
  .buy .buy__naming {
    margin: 30px 30px; }
  .buy .buy__products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 0 30px;
    justify-content: space-between; }
  .buy .buy__wtch {
    display: inline-block;
    margin: 30px 30px;
    font-family: monlight;
    font-size: 18px; }
  .buy .buy__products .products__wib .wib__form2 {
    width: 325px; }
  .buy .buy__products .products__wib .wib__form1 {
    width: 325px; }
  .buy .buy__products .products__form {
    width: 708px;
    margin-top: -10px; }
  .form__768__box2, .form__768__box {
    display: inline-block; }
  .form__768__flex {
    display: flex; }
  .buy .buy__products .products__form form .form__email {
    width: 50%; }
  .buy .buy__products .products__form form a {
    transform: translateY(-17px); } }

.ask {
  background-image: url(../img/ask__bg.jpg);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .ask .ask__q {
    display: inline-block;
    width: 480px; }
    .ask .ask__q h3 {
      color: #fff;
      font-family: monreg;
      font-size: 52px;
      margin: 0; }
    .ask .ask__q p {
      color: #fff;
      font-family: monreg;
      font-size: 18px;
      margin-top: 30px; }
  .ask .ask__form {
    display: inline-block;
    width: 390px;
    height: 350px;
    background-color: #fff;
    margin: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .ask .ask__form input {
      display: block;
      border: none;
      width: 275px;
      border-bottom: 1px solid black;
      margin-top: 35px; }
    .ask .ask__form .ask__submit {
      font-family: monbold;
      font-size: 16px;
      text-align: right;
      background-color: #fff;
      border: none;
      cursor: pointer; }

@media (min-width: 767px) and (max-width: 1278px) {
  .ask {
    position: relative;
    display: block;
    height: 650px;
    background-size: cover;
    background-position: 21%; }
    .ask .ask__q {
      display: inline-block;
      width: 100%; }
      .ask .ask__q h3 {
        color: #fff;
        font-family: monreg;
        font-size: 52px;
        margin: 80px 0 0 30px; }
      .ask .ask__q p {
        color: #fff;
        font-family: monreg;
        font-size: 18px;
        margin-top: 30px;
        margin-left: 30px; }
    .ask .ask__form {
      display: inline-block;
      width: 415px;
      height: 350px;
      background-color: #fff;
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .ask .ask__form input {
        display: block;
        border: none;
        width: 275px;
        border-bottom: 1px solid black;
        margin-top: 35px; }
      .ask .ask__form .ask__submit {
        font-family: monbold;
        font-size: 16px;
        text-align: right;
        background-color: #fff;
        border: none;
        cursor: pointer; } }
