.bread {
  grid-area: 1 / 2 / 2 / 6; }
  .bread ul {
    padding: 0;
    margin: 0; }
    .bread ul li {
      display: inline; }
      .bread ul li a {
        padding: 0;
        margin: 0;
        font-family: monreg;
        font-size: 12px;
        text-decoration: none;
        color: #bbbaba;
        background-color: #f8f7f7;
        text-transform: none; }
        .bread ul li a img {
          padding-bottom: 3px;
          padding-left: 10px;
          padding-right: 10px; }

.catalog__header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
  grid-template-rows: 25px 65px 100px;
  background-color: #f8f7f7;
  padding-bottom: 30px; }
  .catalog__header h3 {
    grid-area: 3 / 3 / 4 / 7;
    font-size: 52px;
    margin: 0;
    align-self: start; }
  .catalog__header a {
    font-family: monbold;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding: 16px 30px;
    background-color: #fff;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 3;
    align-self: start; }
  .catalog__header .arrow_back_with_line {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    padding: 0;
    margin: 0;
    background-color: #f8f7f7;
    align-self: center; }
    .catalog__header .arrow_back_with_line span {
      font-family: monsemibold;
      font-size: 12px;
      color: #686767;
      text-transform: uppercase;
      padding-left: 15px;
      color: #000; }

@media only screen and (max-width: 1278px) {
  body {
    margin: 0px;
    background-color: #f8f7f7; }
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding: 0; }
  .catalog__header {
    display: block;
    margin-bottom: -2px; }
  .bread ul {
    margin-left: 30px; }
  .catalog__header .arrow_back_with_line {
    margin-left: 30px;
    margin-top: 25px;
    display: block; }
  .catalog__header h3 {
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 75px;
    width: 67%; } }

.tables {
  display: flex;
  justify-content: space-between;
  background-color: #f8f7f7;
  padding-top: 60px;
  flex-wrap: wrap; }
  .tables .tables__big {
    margin-left: 30px;
    width: 710px; }
    .tables .tables__big .tables__white {
      width: 710px;
      height: 400px;
      background-color: #fff;
      position: relative; }
      .tables .tables__big .tables__white .tables__big__img {
        position: relative;
        left: 78px; }
      .tables .tables__big .tables__white .tables__small__img {
        position: absolute;
        left: 70px;
        bottom: -60px; }
      .tables .tables__big .tables__white .tables__arrow__right {
        position: absolute;
        left: 315px;
        bottom: -40px; }
    .tables .tables__big .tables__info .inbox {
      font-family: monsemibold;
      font-size: 16px;
      color: #fff;
      background-color: #000;
      padding: 15px 90px;
      grid-area: 2 / 6 / 3 / 7;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 67px; }
    .tables .tables__big .tables__info .info__code {
      font-family: monlight;
      font-size: 14px;
      color: #686767;
      margin: 145px 0 0 70px; }
    .tables .tables__big .tables__info .info__availability {
      font-family: monlight;
      font-size: 14px;
      color: #686767;
      margin: 25px 0 0 70px; }
    .tables .tables__big .tables__info .info__counter {
      margin: 40px 0 0 70px; }
      .tables .tables__big .tables__info .info__counter a {
        text-decoration: none;
        font-family: monlight;
        font-size: 14px;
        color: #686767;
        color: #000;
        padding: 15px;
        border: 1px solid #000; }
      .tables .tables__big .tables__info .info__counter :nth-child(2) {
        border-left: none;
        border-right: none;
        padding: 15px 40px; }
    .tables .tables__big .tables__info .info__economy {
      font-family: monlight;
      font-size: 14px;
      color: #686767;
      margin: 40px 0 0 70px; }
    .tables .tables__big .tables__info .info__exprice {
      font-family: monlight;
      font-size: 14px;
      color: #686767;
      margin: 10px 0 0 70px;
      text-decoration: line-through;
      text-decoration-color: #686767; }
    .tables .tables__big .tables__info .info__nowprice {
      font-family: monlight;
      font-size: 24px;
      color: #686767;
      color: #000;
      margin: 40px 0 75px 70px; }
    .tables .tables__big .socialbuttons {
      display: flex;
      align-items: center;
      margin-top: 40px;
      margin-left: 67px; }
      .tables .tables__big .socialbuttons span {
        font-family: monsemibold;
        font-size: 12px;
        color: #686767;
        text-transform: uppercase;
        margin-right: 35px; }
      .tables .tables__big .socialbuttons .sociabuttons__img {
        margin-right: 35px; }
      .tables .tables__big .socialbuttons .sociabuttons__and {
        margin-right: 15px; }
      .tables .tables__big .socialbuttons .sociabuttons__download {
        margin-right: 20px; }
  .tables .tables__small {
    width: 390px;
    margin-right: 100px; }
    .tables .tables__small .tables__include {
      font-family: monlight;
      font-size: 18px;
      text-align: left;
      margin: 0; }
    .tables .tables__small .tables__inbox {
      font-family: monsemibold;
      font-size: 10px;
      color: #898888;
      margin-top: 26px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 22px; }
      .tables .tables__small .tables__inbox span {
        margin-left: 15px; }
      .tables .tables__small .tables__inbox .inbox__left {
        display: inline-block;
        margin: 0; }
      .tables .tables__small .tables__inbox .inbox__right {
        display: inline-block;
        margin: 0; }
    .tables .tables__small .small__flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .tables .tables__small .small__flex .catalog__group__box {
        width: 190px;
        height: 380px;
        background-color: #fff;
        position: relative;
        margin-bottom: 12px; }
        .tables .tables__small .small__flex .catalog__group__box .umbrella__counter {
          margin: 0 0 0 12px; }
          .tables .tables__small .small__flex .catalog__group__box .umbrella__counter a {
            text-decoration: none;
            font-family: monlight;
            font-size: 14px;
            color: #686767;
            color: #000;
            padding: 11px;
            border: 1px solid #000; }
          .tables .tables__small .small__flex .catalog__group__box .umbrella__counter :nth-child(2) {
            border-left: none;
            border-right: none;
            padding: 11px 35px; }
        .tables .tables__small .small__flex .catalog__group__box .box__img__main {
          display: block;
          width: 80%;
          margin: 0 auto; }
        .tables .tables__small .small__flex .catalog__group__box .box__cancel {
          position: absolute;
          top: 10px;
          right: 10px; }
        .tables .tables__small .small__flex .catalog__group__box .box__naming {
          margin: 0;
          padding: 0;
          font-family: monlight;
          font-size: 16px;
          margin: 20px 0 0 20px; }
        .tables .tables__small .small__flex .catalog__group__box .box__availability {
          margin: 0;
          padding: 0;
          font-family: monlight;
          font-size: 12px;
          margin-left: 20px;
          margin-top: 30px;
          margin-bottom: 35px; }
        .tables .tables__small .small__flex .catalog__group__box .box__price {
          margin-top: 27px;
          margin-left: 20px;
          font-family: monlight;
          font-size: 16px; }
        .tables .tables__small .small__flex .catalog__group__box .box__discount__percent {
          position: absolute;
          bottom: 130px;
          right: 35px;
          font-family: monlight;
          font-size: 12px; }
        .tables .tables__small .small__flex .catalog__group__box .small__inbox {
          text-decoration: none;
          text-transform: uppercase;
          font-family: monsemibold;
          font-size: 12px;
          color: #fff;
          background-color: #000;
          padding: 15px 35px;
          position: absolute;
          left: 20px;
          bottom: 20px; }

@media only screen and (max-width: 1278px) {
  .tables .tables__big {
    margin-left: 30px;
    margin-right: 30px;
    /* width: 710px; */
    display: flex;
    flex-wrap: wrap; }
  .tables .tables__big .tables__white {
    width: 440px;
    height: 340px;
    background-color: #fff;
    position: relative; }
  .tables .tables__big .tables__white .tables__big__img {
    position: relative;
    left: 0px;
    width: 420px; }
  .tables .tables__big .tables__white .tables__small__img {
    position: absolute;
    left: 70px;
    bottom: -60px; }
  .tables .tables__big .tables__info .inbox {
    font-family: monsemibold;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    padding: 15px 50px;
    grid-area: 2 / 6 / 3 / 7;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 67px; }
  .tables .tables__big .tables__info .info__code {
    font-family: monlight;
    font-size: 14px;
    color: #686767;
    margin: 15px 0 0 70px; }
  .tables .tables__big .socialbuttons {
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-left: 67px; }
  .tables .tables__small {
    /* width: 390px; */
    /* margin-right: 100px; */
    margin: 0 30px;
    width: 100%; }
  .tables .tables__small .tables__inbox {
    font-family: monsemibold;
    font-size: 10px;
    color: #898888;
    margin-top: 26px;
    text-transform: uppercase;
    display: block;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    margin-bottom: 22px;
    position: relative; }
  .tables .tables__small .tables__inbox .inbox__right {
    display: inline-block;
    margin: 0;
    margin-left: 90px; } }

.choose {
  background-color: #f8f7f7;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 30fr 70fr 290fr 250fr 250fr 290fr 70fr 30fr;
  grid-template-rows: 45px 280px;
  padding-bottom: 20px; }
  .choose .choose__wtd {
    grid-area: 1 / 3 / 2 /7;
    margin: 0;
    padding: 0;
    align-self: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #686767;
    display: flex;
    justify-content: space-between; }
    .choose .choose__wtd li {
      display: inline-block;
      margin: 0; }
      .choose .choose__wtd li :hover {
        color: #000;
        border-bottom: 1px solid #000;
        padding-bottom: 15px; }
      .choose .choose__wtd li a {
        font-family: monsemibold;
        font-size: 12px;
        color: #686767;
        text-transform: uppercase; }
  .choose .choose__characteristic {
    grid-area: 2 / 3 / 3 /7;
    display: grid;
    grid-template-columns: 270px 410px 1fr;
    grid-gap: 55px; }
    .choose .choose__characteristic .characteristic__param {
      margin: 0;
      padding: 0;
      width: 270px;
      display: inline-block; }
      .choose .choose__characteristic .characteristic__param .param__ul {
        margin: 0;
        padding: 0;
        margin-top: 15px; }
        .choose .choose__characteristic .characteristic__param .param__ul .param__li {
          margin: 0;
          padding: 0;
          margin-top: 30px;
          display: grid;
          grid-template-columns: 1fr  100px;
          font-family: monlight;
          font-size: 14px;
          color: #686767; }
          .choose .choose__characteristic .characteristic__param .param__ul .param__li span {
            font-family: monreg;
            font-size: 14px;
            color: #686767; }
    .choose .choose__characteristic .characteristic__param2 {
      margin: 0;
      padding: 0;
      width: 410px;
      display: inline-block; }
      .choose .choose__characteristic .characteristic__param2 .param2__ul {
        margin: 0;
        padding: 0;
        margin-top: 15px; }
        .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li {
          margin: 0;
          padding: 0;
          margin-top: 30px;
          display: grid;
          grid-template-columns: 1fr  1fr;
          font-family: monlight;
          font-size: 14px;
          color: #686767; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li span {
            font-family: monreg;
            font-size: 14px;
            color: #686767; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color1, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color2, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color3, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color4, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color5 {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            margin-bottom: 8px;
            background-color: #000;
            margin-top: -10px; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color6, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color7, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color8, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color9, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color10 {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            background-color: #000; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color1 {
            background-color: #cccccc; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color2 {
            background-color: #555555; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color3 {
            background-color: #363636; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color4 {
            background-color: #09071b; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color5 {
            background-color: #020100; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color6 {
            background-color: #cd1212; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color7 {
            background-color: #f89225; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color8 {
            background-color: #f3e00f; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color9 {
            background-color: #6ecf06; }
          .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color10 {
            background-color: #0e75c5; }
        .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__nomt {
          margin-top: 45px; }
  .choose .characteristic__param3 {
    margin: 0;
    padding: 0;
    display: inline-block; }
    .choose .characteristic__param3 .param3__ul {
      margin: 0;
      padding: 0;
      margin-top: 15px; }
      .choose .characteristic__param3 .param3__ul .param3__li {
        margin: 0;
        padding: 0;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 130px  1fr;
        font-family: monlight;
        font-size: 14px;
        color: #686767; }
        .choose .characteristic__param3 .param3__ul .param3__li span {
          font-family: monreg;
          font-size: 14px;
          color: #686767; }
        .choose .characteristic__param3 .param3__ul .param3__li .light__text {
          font-family: monreg;
          font-size: 12px;
          color: #686767;
          color: #000; }
      .choose .characteristic__param3 .param3__ul .param3__limt {
        margin-top: 5px; }
  .choose .choose__description {
    grid-area: 2 / 3 / 3 /7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    display: none; }
    .choose .choose__description p {
      font-family: monlight;
      font-size: 14px;
      color: #686767;
      line-height: 24px; }
  .choose .choose__pay {
    grid-area: 2 / 3 / 3 /7;
    display: none; }
    .choose .choose__pay ul {
      padding: 0;
      margin: 0;
      margin-top: 30px;
      width: 420px; }
      .choose .choose__pay ul li {
        margin-top: 15px;
        font-family: monlight;
        font-size: 14px;
        color: #686767;
        display: grid;
        grid-template-columns: 150px 1fr; }
  .choose .choose__guaranty {
    grid-area: 2 / 3 / 3 /7;
    display: grid;
    grid-template-columns: 500px 1fr;
    display: none; }
    .choose .choose__guaranty p {
      font-family: monlight;
      font-size: 14px;
      color: #686767;
      line-height: 24px; }

@media only screen and (max-width: 1278px) {
  .choose .choose__wtd li a {
    font-family: monsemibold;
    font-size: 11px;
    color: #686767;
    text-transform: uppercase; }
  .choose .choose__characteristic {
    grid-area: 2 / 3 / 3 /7;
    display: grid;
    grid-template-columns: 225px 239px 1fr;
    grid-gap: 57px; }
  .choose .choose__characteristic .characteristic__param {
    margin: 0;
    padding: 0;
    width: 256px;
    display: inline-block; }
  .choose .choose__characteristic .characteristic__param2 {
    margin: 0;
    padding: 0;
    width: 400px;
    display: inline-block; } }

.item {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 260fr 150fr 150fr 260fr 130fr 70fr 30fr;
  grid-template-rows: 85px 525px;
  background-color: #f8f7f7; }
  .item h3 {
    grid-column-start: 3;
    grid-column-end: 6;
    align-self: center;
    font-family: monlight;
    font-size: 36px; }
  .item .item__arrows {
    grid-column-start: 8;
    align-self: center;
    justify-self: end; }
    .item .item__arrows a {
      margin-left: 20px; }
  .item .catalog__group {
    grid-area: 2 / 3 / 3 / 9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .item .catalog__group .catalog__group__box {
      width: 310px;
      height: 445px;
      background-color: #fff;
      position: relative;
      margin-bottom: 30px; }
      .item .catalog__group .catalog__group__box .box__discount {
        position: absolute;
        top: 20px;
        left: 20px;
        font-family: monreg;
        font-size: 16px;
        padding: 14px;
        color: #fff;
        background-color: #fe3000; }
      .item .catalog__group .catalog__group__box img {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-top: 40px; }
      .item .catalog__group .catalog__group__box .box__naming {
        margin: 0;
        padding: 0;
        font-family: monlight;
        font-size: 24px;
        margin-left: 35px;
        margin-bottom: 15px; }
      .item .catalog__group .catalog__group__box .box__availability {
        margin: 0;
        padding: 0;
        font-family: monlight;
        font-size: 12px;
        margin-left: 35px; }
      .item .catalog__group .catalog__group__box .box__price {
        position: absolute;
        bottom: 100px;
        left: 35px;
        font-family: monlight;
        font-size: 16px; }
      .item .catalog__group .catalog__group__box .box__discount__percent {
        position: absolute;
        bottom: 130px;
        right: 35px;
        font-family: monlight;
        font-size: 12px; }
      .item .catalog__group .catalog__group__box a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: monsemibold;
        font-size: 12px;
        color: #fff;
        background-color: #000;
        padding: 15px 80px;
        position: absolute;
        left: 35px;
        bottom: 30px; }

.about {
  padding-bottom: 100px; }

.header {
  background-color: #f8f7f7; }
  .header .header__button {
    background-color: #000;
    color: #fff; }
  .header .header__contacts {
    color: #000; }

@media only screen and (max-width: 1278px) {
  .item {
    display: flex;
    flex-wrap: wrap;
    margin-top: -2px;
    background-color: #f8f7f7; }
  .item h3 {
    grid-column-start: 3;
    grid-column-end: 6;
    align-self: center;
    font-family: monlight;
    font-size: 36px;
    margin-left: 30px; }
  .item .item__arrows {
    /* grid-column-start: 8; */
    align-self: center;
    margin-left: 160px;
    /* justify-self: end; */ }
  .item .catalog__group {
    grid-area: 2 / 3 / 3 / 9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .item .catalog__group .catalog__group__box {
    width: 230px;
    height: 390px;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
    margin-left: 20px; }
  .item .catalog__group .catalog__group__box a {
    padding: 15px 45px; } }

@media only screen and (max-width: 1278px) {
  .about {
    padding-top: 100px;
    margin-bottom: -2px;
    padding-bottom: 100px; } }

@media only screen and (max-width: 767px) {
  .container {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 0; }
  .bread ul {
    margin-left: 20px; }
  .catalog__header .arrow_back_with_line {
    margin-left: 20px;
    margin-top: 25px;
    display: block; }
  .catalog__header h3 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 0;
    width: auto; }
  .catalog__header a {
    margin-left: 235px;
    display: none; }
  .umbrella {
    display: block; }
  .umbrella .umbrella__conic .conic__big {
    position: absolute;
    left: 20px;
    width: 280px;
    top: 0px; }
  .umbrella .umbrella__conic .conic__small {
    position: absolute;
    left: 32px;
    bottom: -240px;
    width: 110px; }
  .umbrella .umbrella__about .umbrella__discount {
    position: absolute;
    top: -100px;
    right: 20px;
    font-family: monreg;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    background-color: #fe3000; }
  .umbrella .umbrella__about {
    position: relative;
    grid-area: 1 / 6 / 2 / 7;
    margin-top: 260px;
    margin-left: -38px; }
  .umbrella .inbox {
    display: block;
    margin: 20px 20px 50px 20px;
    padding: 15px 89px; }
  .umbrella .socialbuttons {
    grid-area: 3 / 4 / 4 / 7;
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    height: 80px; }
  .umbrella .socialbuttons span {
    font-family: monsemibold;
    font-size: 12px;
    color: #686767;
    text-transform: uppercase;
    margin-right: 14px; }
  .umbrella .socialbuttons .sociabuttons__img {
    margin-left: 29px;
    margin-right: 0; }
  .umbrella .socialbuttons .sociabuttons__download {
    margin-right: 12px; }
  .choose {
    background-color: #f8f7f7;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 30fr 70fr 290fr 250fr 250fr 290fr 70fr 30fr;
    grid-template-rows: 90px 280px;
    padding-bottom: 80px; }
  .choose .choose__wtd {
    grid-area: 1 / 3 / 2 /7;
    margin: 0;
    padding: 0;
    align-self: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #686767;
    display: flex;
    justify-content: space-between;
    width: 830px;
    overflow: hidden; }
  .choose {
    height: 435px; }
  .choose .choose__characteristic {
    display: block; }
  .choose .choose__characteristic .characteristic__param2 {
    margin: 0;
    padding: 0;
    width: 280px;
    display: inline-block; }
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color1, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color2, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color3, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color4, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color5 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top: -10px; }
  .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color6, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color7, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color8, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color9, .choose .choose__characteristic .characteristic__param2 .param2__ul .param2__li .param2__color10 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px; }
  .item h3 {
    font-family: monlight;
    font-size: 24px;
    margin-left: 20px;
    padding-right: 0; }
  .item .item__arrows {
    /* grid-column-start: 8; */
    align-self: center;
    margin-left: 210px;
    margin-bottom: 15px;
    /* justify-self: end; */ }
  .item .catalog__group .catalog__group__box {
    width: 280px;
    height: 390px;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
    margin-left: 20px; }
  .item .catalog__group .catalog__group__box a {
    padding: 15px 71px; }
  .about {
    padding-top: 100px; }
  .tables .tables__big .tables__white {
    background-color: #f8f7f7;
    width: 440px;
    height: 230px;
    position: relative; }
  .tables .tables__big .tables__white .tables__big__img {
    position: relative;
    left: -10px;
    width: 280px; }
  .tables .tables__big .tables__white .tables__small__img {
    position: absolute;
    left: 10px;
    bottom: -10px;
    width: 130px; }
  .tables__info {
    transform: translate(-72px, 15px); }
  .tables .tables__big .tables__info .info__nowprice {
    font-family: monlight;
    font-size: 24px;
    color: #686767;
    color: #000;
    margin: 40px 0 50px 70px; }
  .tables .tables__big .tables__info .inbox {
    padding: 15px 86px; }
  .tables .tables__big .socialbuttons {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 0px;
    flex-wrap: wrap;
    width: 320px;
    height: 100px; }
  .tables .tables__big .socialbuttons span {
    font-family: monsemibold;
    font-size: 12px;
    color: #686767;
    text-transform: uppercase;
    margin-right: 15px; }
  .tables .tables__big .socialbuttons .sociabuttons__img {
    margin-right: 0px;
    margin-left: 25px; }
  .tables .tables__big .socialbuttons .sociabuttons__download {
    margin-right: 10px;
    /* margin-left: 0px; */ }
  .tables .tables__small {
    /* width: 390px; */
    /* margin-right: 100px; */
    margin: 0 20px;
    width: 100%;
    padding-top: 20px; }
  .tables .tables__small .tables__inbox {
    display: none; }
  .tables .tables__small .small__flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
  .tables .tables__small .small__flex .catalog__group__box {
    width: 190px;
    height: 380px;
    background-color: #fff;
    position: relative;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-top: 20px; }
  .tables .tables__small .small__flex .catalog__group__box .small__inbox {
    text-decoration: none;
    text-transform: uppercase;
    font-family: monsemibold;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    padding: 15px 18px;
    position: absolute;
    left: 20px;
    bottom: 20px; }
  .tables .tables__small .tables__include {
    position: relative; }
  .tables .tables__small .tables__include::before {
    content: url(../img/arrowleft3.png);
    position: absolute;
    right: 75px; }
  .tables .tables__small .tables__include::after {
    content: url(../img/arrowright3.png);
    position: absolute;
    right: 40px; } }
