@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.header {
  display: grid;
  grid-template-columns: 30fr 70fr 130fr 70fr 190fr 150fr 150fr 80fr 60fr 60fr 60fr 130fr 70fr 30fr;
  grid-template-rows: 90px;
  align-items: center; }

.header__button {
  font-family: monbold;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff; }

.header__contacts {
  font-family: monreg;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0; }

.header__element {
  grid-column-start: 2;
  grid-column-end: 4; }
  .header__element1 {
    grid-column-start: 4;
    grid-column-end: 5; }
  .header__element2 {
    grid-column-start: 5;
    grid-column-end: 6; }
  .header__element3 {
    grid-column-start: 9;
    grid-column-end: 10; }
  .header__element4 {
    grid-column-start: 10;
    grid-column-end: 11; }
  .header__element5 {
    grid-column-start: 11;
    grid-column-end: 12; }
  .header__element6 {
    grid-column-start: 12;
    grid-column-end: 14; }

@media (min-width: 767px) and (max-width: 1278px) {
  .header {
    display: grid;
    grid-template-columns: 30fr 140fr 25fr 30fr 25fr 115fr 45fr 25fr 25fr 25fr 25fr 35fr 25fr 165fr 33fr;
    grid-template-rows: 80px;
    align-items: center; }
  .header__button {
    font-family: monsemibold;
    font-size: 10px;
    color: #000;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #fff;
    text-align: center; }
  .header__contacts {
    font-family: monreg;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    margin: 0; }
  .header__element {
    grid-column-start: 2;
    grid-column-end: 3; }
    .header__element1 {
      grid-column-start: 4;
      grid-column-end: 5; }
    .header__element2 {
      grid-column-start: 6;
      grid-column-end: 7; }
    .header__element3 {
      grid-column-start: 8;
      grid-column-end: 9; }
    .header__element4 {
      grid-column-start: 10;
      grid-column-end: 11; }
    .header__element5 {
      grid-column-start: 12;
      grid-column-end: 13; }
    .header__element6 {
      grid-column-start: 14;
      grid-column-end: 15; } }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

@font-face {
  font-family: monblack;
  src: url(../fonts/Montserrat-Black.ttf); }

@font-face {
  font-family: monblackitalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf); }

@font-face {
  font-family: monbold;
  src: url(../fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: monbolditalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf); }

@font-face {
  font-family: monexb;
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

@font-face {
  font-family: monexbitalic;
  src: url(../fonts/Montserrat-ExtraBoldItalic.ttf); }

@font-face {
  font-family: monexli;
  src: url(../fonts/Montserrat-ExtraLight.ttf); }

@font-face {
  font-family: monexliit;
  src: url(../fonts/Montserrat-ExtraLightItalic.ttf); }

@font-face {
  font-family: monitalic;
  src: url(../fonts/Montserrat-Italic.ttf); }

@font-face {
  font-family: monlight;
  src: url(../fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: monlightitalic;
  src: url(../fonts/Montserrat-LightItalic.ttf); }

@font-face {
  font-family: monmed;
  src: url(../fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: monmeditalic;
  src: url(../fonts/Montserrat-MediumItalic.ttf); }

@font-face {
  font-family: monreg;
  src: url(../fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: monsemibold;
  src: url(../fonts/Montserrat-SemiBold.ttf); }

@font-face {
  font-family: monthin;
  src: url(../fonts/Montserrat-Thin.ttf); }

@font-face {
  font-family: monsemibolditalic;
  src: url(../fonts/Montserrat-SemiBoldItalic.ttf); }

@font-face {
  font-family: monthinitalic;
  src: url(../fonts/Montserrat-ThinItalic.ttf); }

.footer {
  background-color: #fff;
  display: flex;
  position: relative; }
  .footer .footer__left {
    display: inline-block; }
  .footer .footer__altano {
    width: 132px;
    height: 32px;
    margin: 50px 50px 0 30px; }
  .footer .footer__rights {
    margin: 145px 0 0 30px;
    padding-bottom: 50px;
    font-family: monlight;
    font-size: 10px; }
  .footer .footer__flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 580px;
    margin-top: 50px; }
    .footer .footer__flex ul {
      margin: 0;
      padding: 0;
      margin-left: 70px; }
      .footer .footer__flex ul li {
        margin: 0;
        padding: 0;
        margin-bottom: 10px; }
        .footer .footer__flex ul li a {
          text-transform: uppercase;
          font-family: monsemibold;
          font-size: 10px;
          color: #7d7d7d; }
  .footer .footer__right {
    margin-top: 50px;
    margin-left: 100px; }
    .footer .footer__right p {
      font-family: monlight;
      font-size: 14px;
      margin: 0;
      margin-bottom: 30px; }
    .footer .footer__right .footer__input {
      font-family: monlight;
      font-size: 10px;
      border: none;
      border-bottom: 1px solid black;
      width: 270px; }
    .footer .footer__right .footer__submit {
      background-color: #fff;
      color: #000;
      font-family: monsemibold;
      font-size: 10px;
      border: none; }
  .footer .footer__logos {
    width: 270px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    bottom: 50px; }
    .footer .footer__logos img {
      width: 17px;
      height: 17px; }
    .footer .footer__logos .footer__opex {
      width: 50px;
      height: 20px; }
    .footer .footer__logos a {
      text-decoration: none; }
    .footer .footer__logos span {
      font-family: monlight;
      font-size: 9px;
      position: relative;
      bottom: 15px;
      right: 3px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

@media (min-width: 767px) and (max-width: 1278px) {
  .footer {
    background-color: #fff;
    display: flex;
    position: relative;
    height: 460px; }
    .footer .footer__left {
      display: inline-block; }
    .footer .footer__altano {
      width: 132px;
      height: 32px;
      margin: 50px 50px 0 30px; }
    .footer .footer__rights {
      margin: 300px 0 0 30px;
      padding-bottom: 50px;
      font-family: monlight;
      font-size: 10px; }
    .footer .footer__flex {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 580px;
      margin-top: 50px; }
      .footer .footer__flex ul {
        margin: 0;
        padding: 0;
        margin-left: 30px;
        margin-right: 20px; }
        .footer .footer__flex ul li {
          margin: 0;
          padding: 0;
          margin-bottom: 10px;
          width: 135px; }
          .footer .footer__flex ul li a {
            text-transform: uppercase;
            font-family: monsemibold;
            font-size: 10px;
            color: #7d7d7d; }
    .footer .footer__right {
      position: absolute;
      width: 540px;
      top: 240px;
      left: 143px; }
      .footer .footer__right p {
        font-family: monlight;
        font-size: 14px;
        margin: 0;
        margin-bottom: 30px; }
      .footer .footer__right .footer__input {
        font-family: monlight;
        font-size: 10px;
        border: none;
        border-bottom: 1px solid black;
        width: 407px; }
      .footer .footer__right .footer__submit {
        background-color: #fff;
        color: #000;
        font-family: monsemibold;
        font-size: 10px;
        border: none; }
    .footer .footer__logos {
      width: 270px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 50px;
      bottom: 50px; }
      .footer .footer__logos img {
        width: 17px;
        height: 17px; }
      .footer .footer__logos .footer__opex {
        width: 50px;
        height: 20px; }
      .footer .footer__logos a {
        text-decoration: none; }
      .footer .footer__logos span {
        font-family: monlight;
        font-size: 9px;
        position: relative;
        bottom: 15px;
        right: 3px; }
  a {
    text-decoration: none; }
  li {
    list-style: none; } }

body {
  margin: 0px;
  background-color: #282828; }

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }

.head {
  background-image: url(../img/showroom_head.jpg); }
  .head .bread ul {
    padding: 0;
    margin: 0;
    margin-left: 30px; }
    .head .bread ul li {
      display: inline; }
      .head .bread ul li a {
        padding: 0;
        margin: 0;
        font-family: monreg;
        font-size: 12px;
        text-decoration: none;
        color: #bbbaba;
        text-transform: none; }
        .head .bread ul li a img {
          padding-bottom: 3px;
          padding-left: 10px;
          padding-right: 10px; }
        .head .bread ul li a span {
          color: #fff; }
  .head .head__news__back {
    display: block;
    margin: 35px 0 0 100px; }
    .head .head__news__back span {
      font-family: monsemibold;
      font-size: 12px;
      color: #fff;
      padding-left: 10px;
      text-transform: uppercase; }
  .head h3 {
    font-family: monreg;
    font-size: 52px;
    color: #fff;
    margin: 100px 0 0 100px;
    padding: 0; }
  .head p {
    font-family: monreg;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin: 40px 0 0 100px;
    padding: 0;
    width: 500px; }
  .head .head__3d {
    font-family: monbold;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    display: inline-block;
    margin: 40px 0 180px 100px;
    padding: 25px 30px; }

.address {
  background-color: #f8f7f7; }
  .address .address__block {
    display: inline-block;
    width: 59%; }
    .address .address__block h3 {
      font-family: monlight;
      font-size: 52px;
      color: #000;
      margin: 0;
      padding: 90px 0 60px 100px; }
    .address .address__block p {
      display: inline-block;
      width: 275px;
      font-family: monlight;
      font-size: 16px;
      line-height: 30px;
      margin: 40px 0 0 100px;
      padding: 0 0 75px 0; }
    .address .address__block .block__contacts {
      margin-left: 40px; }
  .address .address__block2 {
    display: inline-block;
    width: 40%;
    position: relative;
    top: 40px; }
    .address .address__block2 h4 {
      font-family: monreg;
      font-size: 30px;
      color: #000;
      margin: 0;
      padding: 90px 0 30px 0;
      width: 400px; }
    .address .address__block2 span {
      display: block;
      font-family: monreg;
      font-size: 18px;
      color: #000;
      margin: 0;
      padding: 0 0 30px 0; }

.chairs__form {
  width: 410px;
  height: 230px;
  background-color: #fff; }
  .chairs__form .form__date {
    width: 60%;
    margin-left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 60px; }
  .chairs__form .calendar__img {
    width: 17px;
    height: 17px;
    position: relative;
    right: 20px;
    z-index: 1; }
  .chairs__form .form__phone {
    width: 60%;
    margin-left: 20%;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 40px;
    padding-bottom: 5px; }
  .chairs__form .form__submit {
    margin-top: 35px;
    float: right;
    margin-right: 20%;
    font-family: monbold;
    font-size: 16px;
    background-color: #fff;
    border: none; }

footer {
  margin-top: -5px; }

.map iframe {
  width: 1280px; }

@media (min-width: 767px) and (max-width: 1278px) {
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding: 0; }
  .map iframe {
    width: 768px; }
  .head {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    height: 1022px;
    background-size: cover;
    background-position: 10%; }
  .head .head__news__back {
    display: block;
    margin: 35px 0 0 30px; }
  .head h3 {
    font-family: monreg;
    font-size: 52px;
    color: #fff;
    margin: 230px 0 0 30px;
    padding: 0; }
  .head p {
    font-family: monreg;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin: 40px 0 0 30px;
    padding: 0;
    width: 395px; }
  .head .head__3d {
    font-family: monbold;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    display: inline-block;
    margin: 40px 0 180px 30px;
    padding: 25px 30px; }
  .address {
    margin-bottom: -100px; }
  .address .address__block {
    display: block;
    width: 100%; }
  .address .address__block h3 {
    font-family: monlight;
    font-size: 52px;
    color: #000;
    margin: 0;
    padding: 90px 0 60px 30px; }
  .address .address__block p {
    display: inline-block;
    width: 275px;
    font-family: monlight;
    font-size: 16px;
    line-height: 30px;
    margin: 40px 0 0 30px;
    padding: 0 0 25px 0; }
  .address .address__block2 h4 {
    font-family: monreg;
    font-size: 30px;
    color: #000;
    margin: 0;
    padding: 0px 0 30px 30px;
    width: 400px; }
  .address .address__block2 span {
    display: block;
    font-family: monreg;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 0 0 30px 30px; }
  .chairs__form {
    margin-left: 30px; } }
